@import "~bulma";

.icon--delete {
    position: absolute;
    right: -15px;
}

.link {
    fill: none;
    stroke: #666;
    stroke-width: 4px;
}

circle {
    fill: #ccc;
    stroke: #333;
    stroke-width: 1.5px;
    cursor: pointer;
}

text {
    font: 30px sans-serif;
    pointer-events: none;
    text-shadow: 0 1px 0 #fff, 1px 0 0 #fff, 0 -1px 0 #fff, -1px 0 0 #fff;
}